html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Imported Sample CSS */
.cz__customizer{position:absolute;left:0;top:0;width:100%;height:100%;font-family:Lato,Helvetica,Arial,sans-serif}.cz__customizer *{box-sizing:border-box}.cz__menu{position:absolute;top:0;right:0;z-index:1000;width:46px;height:46px;border:1px solid #fff;background:#fff}.cz__menu svg{transform:scale(.5) translateY(4px)}@media (min-width:768px){.cz__menu{display:none}}.cz__button{display:inline-block;border:0;border-radius:0;height:32px;line-height:32px;font-size:12px;background:#474747;color:#fff;text-align:center;text-transform:uppercase;cursor:pointer}
.cz__sidebar{position:absolute;right:-300px;top:0;width:300px;height:100%;background:#fff;transition:transform .25s cubic-bezier(.17,.67,.43,.98)}.cz__sidebar.cz__sidebar--visible{transform:translate(-300px)}@media (min-width:768px){.cz__sidebar{right:0;width:400px}.cz__sidebar.cz__sidebar--visible{transform:translate(0)}}.cz__sidebar-options{top:0;height:calc(100% - 60px);overflow:auto;-webkit-overflow-scrolling:touch}.cz__actions,.cz__sidebar-options{position:absolute;left:0;width:100%;padding:10px;transition:height .2s linear}.cz__actions{display:flex;justify-content:left;align-items:center;bottom:0;height:60px}.cz__actions .cz__button,.cz__actions>div{width:100%}
.cz__group+.cz__group{position:relative;padding-top:30px}.cz__group+.cz__group:before{content:"";position:absolute;left:0;top:15px;width:300px;height:1px;background:#cfcfcf}.cz__placement{margin-bottom:20px}.cz__group-header{position:relative;color:#333;text-transform:uppercase}.cz__collapse{position:absolute;width:30px;height:30px;right:5px;top:-2px;border:none;background:transparent;color:#333;font-size:20px;transition:transform .2s linear;transform:rotate(180deg)}.cz__collapse:focus{outline:none}.cz__collapse span{position:absolute;left:8px;top:-1px}.cz__placements{transition:max-height .2s linear;max-height:0;overflow:hidden}.cz__placements-expanded .cz__placements{max-height:2000px}.cz__placements-expanded .cz__collapse{transform:rotate(0deg)}.cz__placement-header{margin-top:10px;font-size:12px;color:#999;text-transform:uppercase}.cz__definition+.cz__definition{margin-top:20px}.cz__definition-header{margin:15px 0 5px;font-size:12px;color:#333}
.cz__option{display:inline-block;margin-left:5px;margin-right:5px;margin-bottom:15px}.cz__option-full-width{display:block}.cz__options{margin-left:-5px;margin-right:-5px}
.cz__button.cz__option-button{padding:0 15px;color:#333;background-color:#f1f1f1;border:1px solid transparent}.cz__button.cz__option-button.cz__option--selected{position:relative}.cz__button.cz__option-button.cz__option--selected:after{content:"";position:absolute;left:-1px;bottom:-8px;width:calc(100% + 2px);height:3px;background:#000}.cz__button.cz__option-button:focus{outline:none;border:1px solid #000}
.cz__swatch-button.cz__option-button{width:32px;height:32px;border-radius:32px;border:1px solid transparent;cursor:pointer}.cz__swatch-button.cz__option-button.cz__option--selected{position:relative}.cz__swatch-button.cz__option-button.cz__option--selected:after{content:"";position:absolute;left:-1px;bottom:-8px;width:calc(100% + 2px);height:3px;background:#000}.cz__swatch-button.cz__option-button:focus{outline:none;border:1px solid #000}
.cz__text.cz__option-text{padding:0 10px;height:32px;line-height:32px;border:1px solid #f1f1f1}.cz__text.cz__option-text:focus{outline:none;border:1px solid #000}
.cz__upload,.cz__upload .dropzone{width:100%}.cz__upload .dz-default{position:relative;height:32px;padding:0 15px;color:#333;background-color:#f1f1f1;font-size:12px;line-height:32px;text-transform:uppercase;cursor:pointer}.cz__upload .dz-default:after{content:"";position:absolute;left:-1px;bottom:-8px;width:calc(100% + 2px);height:3px;background:#000}.cz__upload .dz-preview{margin-top:15px;margin-bottom:15px;overflow:hidden}.cz__upload .dz-preview .dz-size{display:none}.cz__upload .dz-preview .dz-filename{font-size:14px}.cz__upload .dz-preview .dz-image{float:left;margin-right:10px}.cz__upload .dz-preview .dz-error-mark,.cz__upload .dz-preview .dz-success-mark{display:none}.cz__upload .dz-preview .dz-progress{display:block}.cz__upload .dz-preview .dz-progress:before{content:"Processing...";display:block;margin-top:15px;font-size:14px}.cz__upload .dz-preview.dz-complete .dz-progress{display:none}.cz__upload-requirements{margin-top:15px;margin-bottom:15px;font-size:14px}.cz__upload-error{font-size:14px;color:#933}
.cz__views{position:absolute;left:0;top:0;width:100%;height:100%;background:#ebebeb}@media (min-width:768px){.cz__views{width:calc(100% - 400px)}}.cz__image{top:0;height:100%}.cz__image,.cz__view-selector{position:absolute;left:0;width:100%}.cz__view-selector{bottom:100px;text-align:center}.cz__button.cz__view{padding:0 15px;color:#333;background-color:#f1f1f1;border:1px solid transparent}.cz__button.cz__view.cz__view-selected{position:relative}.cz__button.cz__view.cz__view-selected:after{content:"";position:absolute;left:-1px;bottom:-8px;width:calc(100% + 2px);height:3px;background:#000}.cz__button.cz__view:focus{outline:none;border:1px solid #000}.cz__button.cz__view+.cz__button.cz__view{margin-left:10px}
.cz-render{position:absolute;left:0;top:0;width:100%;height:100%}.cz__image{transition:opacity .2s linear}.cz__image.cz__image-loading{opacity:.2}.cz__image-view{position:absolute;left:0;top:0;width:100%;height:100%}.cz__image-view.cz__image-view--split{transition:opacity .2s linear,visibility .2s linear;opacity:0;visibility:hidden;pointer-events:none}.cz__image-view.cz__image-view--split.cz__image-view--edit{opacity:1;visibility:visible}.cz__image-view.cz__image-view--edit{pointer-events:none}.cz__image-view-editor{transition:opacity .2s linear,visibility .2s linear;opacity:0;visibility:hidden;pointer-events:none}.cz__image-view-editor.cz__image-view--edit{opacity:1;visibility:visible;pointer-events:auto}.cz__image-editor-overlays{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none}.cz__fade-enter-active,.cz__fade-leave-active{transition:opacity .2s linear}.cz__fade-enter,.cz__fade-leave-to{opacity:0}.cz__view-arrow{position:absolute;width:40px;height:40px;top:50%;transform:translateY(-50%);z-index:10;font-size:20px;background:#fff;border:1px solid transparent;color:#333}.cz__view-arrow svg{transform:scale(.5) translateY(-14px)}.cz__view-arrow:focus{outline:none;border:1px solid #000}.cz__view-arrow.cz__view-arrow-right{right:10px}.cz__view-arrow.cz__view-arrow-left{left:10px}.cz__view-arrow span{position:absolute;left:15px;top:9px}
.cz__image-editor{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden}.cz__image-editor canvas{cursor:move}.cz__image-sizeguide{width:200px;height:200px;border-radius:300px;border:1px solid #fff;pointer-events:none}.cz__image-sizeguide,.cz__image-sizeguide:before{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);box-shadow:0 0 2px #000,inset 0 0 2px #000}.cz__image-sizeguide:before{content:"";width:8px;height:8px;border-radius:8px;border:1px solid #fff}.cz__image-sizeguide .cz__image-move-guide{position:absolute;right:50%;top:50%;width:1px;height:1px}.cz__image-sizeguide .cz__image-moveguide-tooltip{position:absolute;right:0;top:0;transform:translate(20px,15px);padding:5px 10px;border-radius:2px;background:#000;color:#fff;font-size:10px;text-transform:uppercase;white-space:nowrap}.cz__image-sizeguide .cz__image-moveguide-tooltip:after{content:"";position:absolute;top:-5px;right:15px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000}.cz__image-sizeguide button{position:absolute;width:20px;height:20px;border-radius:20px;margin-left:-10px;margin-top:-10px;left:50%;top:50%;transform:translate(100px);background:#fff;border:none;box-shadow:0 0 2px #000;pointer-events:auto;cursor:move}.cz__image-sizeguide button:focus{outline:none}.cz__image-sizeguide button .cz__image-sizeguide-tooltip{position:absolute;left:-10px;bottom:30px;padding:5px 10px;border-radius:2px;background:#000;color:#fff;font-size:10px;text-transform:uppercase;white-space:nowrap}.cz__image-sizeguide button .cz__image-sizeguide-tooltip:after{content:"";position:absolute;bottom:-5px;left:15px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000}.fade-sizeguide-tooltip-enter-active,.fade-sizeguide-tooltip-leave-active{transition:opacity .25s}.fade-sizeguide-tooltip-enter,.fade-sizeguide-tooltip-leave-to{opacity:0}
.cz__options{display: flex;}